<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>board</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"><link>
</head>
<div class="board_detail">
<body>
	<h2>게시판 상세화면</h2>
	<table class="board_detail">
		<tbody>
			<tr>
				<th scope="row">글 번호</th>
				<td th:text="${board.boardIdx}"></td>
				<th scope="row">조회수</th>
				<td th:text="${board.hitCnt}"></td>
			</tr>
			<tr>
				<th scope="row">작성자</th>
				<td th:text="${board.creatorId}"></td>
				<th scope="row">작성일</th>
				<td th:text="${board.createdDatetime}"></td>
			</tr>
			<tr>
				<th scope="row">제목</th>
					<td colspan="3">
						<input type="text" id="title" name="title" th:value="${board.title}">
					</td>
			</tr>
			<tr>
				<td colspan="4" class="view_text">
					<textarea title="내용" id="contents" name="contents" th:text="${board.contents}"></textarea>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</div>
</html>