<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>board</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"><link>
</head>
<body>
	<div class="container">
		<h2>게시판 목록</h2>
		<table class="board_list">
			<colgroup>
				<col width="15%"/>
				<col width="*%"/>
				<col width="15%"/>
				<col width="20%"/>
			</colgroup>
			<thead>
				<tr>
					<th scope="col">글번호</th>
					<th scope="col">제목</th>
					<th scope="col">조회수</th>
					<th scope="col">작성일</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.size(list)} > 0" th:each="list : ${list}">
					<td th:text="${list.boardIdx}"></td>
					<td class="title">
						<!--상세화면의 주소 호출 시 선택된 게시글 번호를 파라미터로 추가함-->
						<a href="/board/openBoardDetail.do?boardIdx="th:attrappend="href=${list.boardIdx}" th:text="${list.title}"></a>
					</td>
					<td th:text="${list.hitCnt}"></td>
					<td th:text="${list.createdDatetime}"></td>
					<!--타임리프 date 객체는 자바 8에서 추가된 날짜 관련 클래스 (ex.LocalDateTime)를 처리할 수 없음
						이 때 temporals 객체를 사용하여 날짜 포맷팅을 적용할 수 있다.
						<td th:text="${#temporals.format(list.createdDatetime,'yyyy-MM-dd HH:mm:ss')}"></td>-->
				</tr>
				<tr th:unless="${#lists.size(list)} > 0">
					<td colspan="4">조회된 결과가 없습니다.</td>
				</tr>
			</tbody>
		</table>
		<a href="/board/openBoardWrite.do" class="btn">글 쓰기</a>
	</div>
</body>
</html>